<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자유게시판</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link th:href="@{./css/board.css}" rel="stylesheet"/>
</head>
<body>
<header th:insert="/header.html"></header>
<h2>자유게시판</h2>
<!--    <div class="size">-->
<!--        <select th:onchange="'window.location.href = \'' + @{/board?size=} + '\' + this.value ' ">-->
<!--            <option th:each="size : ${postList.size}" th:text=${size}></option>-->
<!--        </select>-->
<!--    </div>-->
<div class="searchForm">
    <form name="searchForm" id="searchForm" th:object="${searchDto}" action="#">
        <select name="searchFilter" th:field="*{searchFilter}">
            <option value="post_title">제목</option>
            <option value="post_content">내용</option>
            <option value="post_name">작성자</option>
        </select>
        <input type="text" id="value" name="searchValue" th:field="*{searchValue}"/>
        <input type="button" id="searchButton" value="검색"/>
    </form>
</div>
<div class="new">
    <form>
        <input type="hidden" name="func" value="new">
        <input type="button" value="글쓰기" id="writeButton" onclick = "location.href = '/write' ">
    </form>
</div>
<table>
    <tr>
        <th> </th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회</th>
    </tr>
    <tr th:each="post : ${postList}">
        <td th:text="${post.postNo}"/>
        <td>
                    <span><a th:href="@{/post(postNo=${post.postNo})}">
                        <span th:text="${post.title}"></span></a>
                    </span>
        </td>
        <td th:text="${post.name}"/>
        <td th:text="${post.regDate}"/>
        <td th:text="${post.views}"/>
    </tr>
</table>
<div class="paging">
    <ul class="pagination justify-content-center"
        th:with="start=${T(Math).floor(postList.number/10)*10 + 1},
                    last=(${start + 9 < postList.totalPages ? start + 9 : postList.totalPages})">
        <li class="page-item">
            <a class="page-link" th:href="@{/board(page=1)}" aria-label="First">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:class="${postList.first} ? 'disabled'">
            <a class="page-link" th:href="${postList.first} ? '#' :@{/board(page=${postList.number})}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li class="page-item" th:each="page: ${#numbers.sequence(start,last)}" th:class="${page == postList.number + 1} ? 'active'">
            <a class="page-link" th:text="${page}" th:href="@{/board(page=${page})}"></a>
        </li>
        <li class="page-item" th:class="${postList.last} ? 'disabled'">
            <a class="page-link" th:href="${postList.last} ? '#' : @{/board(page=${postList.number + 2})}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" th:href="@{/board?(page=${postList.totalPages})}" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>
<form name="searchForm" id="searchForm2" th:object="${searchDto}" action="#">
    <select name="searchFilter" th:field="*{searchFilter}">
        <option value="post_title">제목</option>
        <option value="post_content">내용</option>
        <option value="post_name">작성자</option>
    </select>
    <input type="text" id="value2" name="searchValue" th:field="*{searchValue}"/>
    <input type="button" id="searchButton2" value="검색"/>
</form>

<script th:inline="javascript">
    document.querySelector('#searchButton').addEventListener('click', searchButtonSubmit);

    function searchButtonSubmit(){
        if (document.querySelector('#value').value.length == 0 ){
            alert ("검색어를 입력하세요");
        } else {
            document.querySelector('#searchForm').submit();
        }
    }

    document.querySelector('#searchButton2').addEventListener('click', searchButtonSubmit2);

    function searchButtonSubmit2(){
        if (document.querySelector('#value2').value.length == 0 ){
            alert ("검색어를 입력하세요");
        } else {
            document.querySelector('#searchForm2').submit();
        }
    }
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>