<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <style>
        table {
            border: solid 1px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;

            padding-top: 30px;

            width: 70%;
        }

        #editPostContent {
            width: 90%;
            height: 90%;

            resize: none;
        }

        textarea:focus {
            outline: none;
        }
    </style>
    <body>
        <table>
            <tr>
                <td>
                    <input type="text" name="title" id="editPostTitle" th:value="${post.title}"/>
                </td>
            </tr>
            <tr>
                <td th:text="${post.name}"/>
            </tr>
            <tr>
                <td th:text="'regDate: ' + ${post.regDate}"/>
                <td th:text="'modDate: ' + ${post.modDate}"/>
            </tr>
            <tr>
                <td>
                    <textarea name="content" id="editPostContent">[[${post.content}]]</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" id="editPostButton" value="confirm"/>
                    <input type="button" id="cancel" value="cancel"/>
                </td>
            </tr>
        </table>

        <form id="editPostForm" method="post">
            <input type="hidden" name="func" value="editPost"/>
            <input type="hidden" name="postNo" id="postNo"/>
            <input type="hidden" name="pw" id="pw"/>
            <input type="hidden" name="category" id="category" th:value="${post.category}"/>
            <input type="hidden" name="title" id="title"/>
            <input type="hidden" name="name" id="name" th:value="${post.name}"/>
            <input type="hidden" name="regDate" id="regDate"/>
            <input type="hidden" name="content" id="content"/>
            <input type="hidden" name="views" id="views"/>
        </form>

        <script th:inline="javascript">
            function editPostFunc() {
                document.querySelector('#postNo').value = [[${post.postNo}]];
                document.querySelector('#title').value = document.querySelector('#editPostTitle').value;
                document.querySelector('#regDate').value = [[${post.regDate}]];
                document.querySelector('#content').value = document.querySelector('#editPostContent').value;
                document.querySelector('#views').value = [[${post.views}]];

                document.querySelector('#editPostForm').submit();
            }

            document.querySelector('#editPostButton').addEventListener('click', editPostFunc);
        </script>
    </body>
</html>