<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table {
        border: solid 1px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;

        padding-top: 30px;

        width: 70%;
    }

    #editPostContent {
        width: 90%;
        height: 90%;

        resize: none;
    }

    textarea:focus {
        outline: none;
    }
</style>
<body>
<table>
    <tr>
        <td th:if="${post.userNo.userNo} != 2">
            <input type="text" name="title" id="editPostTitle" th:value="${post.title}"/>
        </td>

        <td th:if="${post.userNo.userNo} == 2">
            Name: <input type="text" name="name" id="editPostName" th:value="${post.name}"/>
            Password: <input type="password" name="pw" id="editPostPassword" th:value="${post.pw}"/>
        </td>
    </tr>
    <tr>
        <td th:text="${post.name}"/>
    </tr>
    <tr>
        <td th:text="'regDate: ' + ${post.regDate}"/>
        <td th:text="'modDate: ' + ${post.modDate}"/>
    </tr>
    <tr>
        <td>
            <textarea name="content" id="editPostContent">[[${post.content}]]</textarea>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" id="editPostButton" value="confirm"/>
            <input type="button" id="cancel" value="cancel"/>
        </td>
    </tr>
</table>

<form id="editPostForm" method="post">
    <input type="hidden" name="func" value="save"/>
    <input type="hidden" name="postNo" id="postNo" th:value="${post.postNo}"/>
    <input type="hidden" name="category" id="category" th:value="${post.category}"/>
    <input type="hidden" name="title" id="title"/>
    <input type="hidden" name="name" id="name"/>
    <input type="hidden" name="pw" id="pw"/>
    <input type="hidden" name="regDate" id="regDate"/>
    <input type="hidden" name="content" id="content"/>
    <input type="hidden" name="views" id="views"/>
</form>

<script th:inline="javascript">
    function editPostFunc() {
        document.querySelector('#title').value = document.querySelector('#editPostTitle').value;
        if ([[${post.userNo.userNo}]] != 2) {
            console.log('11111111111');
            document.querySelector('#name').value = [[${post.name}]];
            document.querySelector('#pw').value = "0000";
        } else {
            console.log('222222222222222');
            document.querySelector('#name').value = document.querySelector('#editPostName').value;
            document.querySelector('#pw').value = document.querySelector('#editPostPassword').value;
        }
        console.log('333333333333333');
        document.querySelector('#regDate').value = [[${post.regDate}]];
        document.querySelector('#content').value = document.querySelector('#editPostContent').value;
        document.querySelector('#views').value = [[${post.views}]];

        let name = document.querySelector('#name').value;
        let pw = document.querySelector('#pw').value;
        let title = document.querySelector('#title').value;
        let content = document.querySelector('#content').value;

        if (name.length < 2 || pw.length < 4 || title.length < 5 || content.length < 5) {
            alert("too short");
        } else {
            document.querySelector('#editPostForm').submit();
        }
    }

    function cancel () {
        location.href="/post?postNo=" + [[${post.postNo}]];
    }

    document.querySelector('#editPostButton').addEventListener('click', editPostFunc);
    document.querySelector('#cancel').addEventListener('click', cancel);
</script>
</body>
</html>