<!DOCTYPE html>
<html lang="en">

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link th:href="@{./css/gallery.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<header th:insert="/header.html"></header>
<div  class = "post_container">
    <h5 class = "post_title">
        <a class="okaya" href="/board">전체글
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </a>
    </h5>
    <!--    <div style="border-bottom: #23698b solid 2px"></div>-->
    <div class="post">
        <ul th:each="post:${post}" class="list-group list-group-flush">
            <li class="list-group-item">
                <text th:text="${post.regDate}"></text>
                <a class="okaya" href="#" th:href="@{/pread/{postNo}(postNo=${post.postNo})}"
                   th:text="${post.title}"></a>
                <text th:text="${post.category}"/>
                <text th:text="${post.views}"/>
            </li>
        </ul>
    </div>
</div>
<div class = "store_container">
    <h5><a class="okaya" href="/gallary">중고거래
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </a>
    </h5>
    <!--    <div style="border-bottom: #23698b solid 2px"></div>-->
    <div class="post">
        <ul th:each="store:${store}" class="list-group list-group-flush">
            <li class="list-group-item">
                <a class="okaya" href="#" th:href="@{/sread/{storeNo}(storeNo=${store.postNo})}"
                   th:text="${store.title}"></a>
                <text th:text="${store.regDate}"/>
                <text th:text="${store.category}"/>
                <text th:text="${store.views}"/>
            </li>
        </ul>
    </div>
</div>
</div>
<div class = "hobby_container" id="hobby">
    <h5><a class="okaya" href="/gallary">모임/모집
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </a>
    </h5>
    <!--    <div style="border-bottom: #23698b solid 2px"></div>-->
    <div class="post">
        <ul th:each="store:${store}" class="list-group list-group-flush">
            <li class="list-group-item">
                <a class="okaya" href="#" th:href="@{/sread/{storeNo}(storeNo=${store.postNo})}"
                   th:text="${store.title}"></a>
                <text th:text="${store.regDate}"/>
                <text th:text="${store.category}"/>
                <text th:text="${store.views}"/>
            </li>
        </ul>
    </div>
</div>
</div>


</body>

</html>