<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{./css/post.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header th:insert="/header.html"></header>
<table id="postTable">
  <tr>
    <td th:text="'Title: ' + ${post.title}"/>
  </tr>
  <tr>
    <td th:text="'Name: ' + ${post.name}"/>
  </tr>
  <tr>
    <td th:text="'RegDate: ' + ${post.regDate}"/>
    <td th:text="'ModDate: ' + ${post.modDate}"/>
  </tr>
  <tr>
    <td>
      <br/>
    </td>
  </tr>
  <tr>
    <td>Content</td>
  </tr>
  <tr>
    <td th:text="${post.content}"/>
  </tr>
  <tr>
    <form id="editForm">
      <input type="hidden" name="postNo" th:value="${post.postNo}"/>
      <input type="hidden" name="func" value="edit">
    </form>
    <form id="deleteForm">
      <input type="hidden" name="postNo" th:value="${post.postNo}"/>
      <input type="hidden" name="func" value="delete">
    </form>
    <td>
      <input type="button" id="editBtn" value="edit"/>
      <input type="button" id="deleteBtn" value="delete"/>
    </td>
  </tr>
</table>

<table id="commentTable">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Comment</th>
    <th>RegDate</th>
  </tr>
  <tr th:each="comment:${commentList}">
    <td class="commentNo" th:text="${comment.commentNo}"/>
    <td class="name" th:text="${comment.name}"/>
    <td class="content" th:text="${comment.content}"/>
    <td class="regDate" th:text="${comment.regDate}"/>
    <td>
      <form id="deleteCommentForm">
        <input type="hidden" name="commentNo" value="${comment.commentNo}"/>
        <input type="hidden" name="func" value="deleteComment"/>
        <input type="button" id="deleteCommentButton" value="X"/>
      </form>
    </td>
  </tr>
  <tr>
    <td>
      <br/>
    </td>
  </tr>
  <tr>
    <td th:block th:with="startAt=${commentPaging.startAt}, endBy=${commentPaging.endBy}" th:colspan="5">
      <a th:if="${commentPaging.startAt} - 1 > 0"
         th:href="@{/post( postNo = ${post.postNo}, presentPage = ${commentPaging.startAt} - 5)}"
         th:text="prev"/>
      <span th:if="${commentPaging.totalPage} != 0">
                        <a th:each="presentPage : ${#numbers.sequence(startAt, endBy)}"
                           th:href="@{/post(postNo=${post.postNo}, presentPage=${presentPage})}"
                           th:text=|[${presentPage}]|/>
                    </span>
      <span th:if="${commentPaging.totalPage} == 0">
                        Comments not exist
                    </span>
      <a th:if="${commentPaging.endBy} + 1 < ${commentPaging.totalPage}"
         th:href="@{/post(postNo = ${post.postNo}, presentPage = ${commentPaging.startAt} + 5)}"
         th:text="next"/>
    </td>
  </tr>
</table>

<table id="newCommentTable">
  <tr>
    <td>
      <h3>New Comment</h3>
    </td>
  </tr>
  <tr><!-- th:if="${session.userNo} == 2"-->
    <td>
      Name: <input type="text" name="name"/> Password: <input type="password" name="pw"/>
    <td/>
  </tr>
  <!--            <tr th:if="${session.userNo} > 2">-->
  <!--                <td th:text="${session.naem}"/>-->
  <!--            </tr>-->
  <tr>
    <td id="newCommentTd">
      <textarea id="newCommentInput" name="content"></textarea>
    </td>
    <td>
      <input type="button" id="newCommentButton" value="submit"/>
    </td>
  </tr>
</table>
<script>
  function editFunc() {
    location.href = "/edit?postNo=" + [[${post.postNo}]];
  }

  document.querySelector('#editBtn').addEventListener('click', editFunc);
</script>
</body>
</html>