<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>board</title>

  <style>
    body {
      padding-top: 70px;
      padding-bottom: 30px;
    }
    #category {
      padding-top: 10px;
      padding-bottom: 20px;
    }
    #title {
      padding-top: 20px;
    }
    #content {
      height: 200px;
    }
    #uploadFile {
      padding-top: 10px;
      padding-bottom: 30px;
    }
  </style>
</head>
<body>
<article>
  <div class="container" role="main">
    <h2>question Form</h2>
    <form action="write" method="post" id="form" enctype="multipart/form-data">

      <div class="mb-3">
        <label for="title">제목</label>
        <input type="text" class="form-control" name="title" id="title">
      </div>
      <div class="mb-3">
        <label for="name">작성자</label>
        <input type="text" class="form-control" name="name" id="name">
      </div>

      <div class="mb-3">
        <label for="content">내용</label>
        <textarea name="content" class="form-control" id="content" placeholder="내용을 입력해 주세요"></textarea>
        <input type="file" name="uploadFile" id="uploadFile" accept="image/jpg, image/jpeg, image/png, image/gif" >
      </div>
      <input type="hidden" class="form-control" name="pw" id="pw" value="1234">
      <input type="hidden" class="form-control" name="category" id="category" value="service">
    </form>
    <div>
      <button id="btnSave" class="btn btn-sm btn-primary" value="저장">저장</button>
      <button type="button"  class="btn btn-sm btn-primary" id="btnList">목록</button>
    </div>
  </div>

</article>
<script th:inline="javascript">
  let session = [[${session}]];
  let user = [[${user}]];
  $("#name").val(user.name);


  $(document).ready(function (){
    if(session.userId==1){
      $("#name").prop("readonly",true);
    }else if(session.userId>2){
      $("#name").prop("readonly",true);
    }else{
      $("#name").prop("readonly",false);
    }

    $("#btnSave").click(()=>{
      if($("#title").val().length<2 ){
        alert("제목은 2글자 이상 입력해주세요.");
        $('#form').preventDefault();
      }else if($("#name").val().length<2){
        alert("이름은 2글자 이상 입력해주세요.");
        $('#form').preventDefault();
      }else if($("#pw").val().length <= 0) {
        alert("비밀번호는 4글자 이상 입력해주세요.");
        $('#form').preventDefault();
      }else{
        $('#form').submit();
      }
    })
  })

</script>

</body>

</html>